$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

//Invesco AP colors

$whiteBase: #fff;
$blackBase: #000;

$darkGreyBase: #333;
$mediumGreyBase: #999;
$greyBase: #373a3c;
$themeColor: #001a7b;
$lightShade: #eee;
$redBase: #a70c3a;
$lightGrey: #dfdfdf;
$iconGrey: #cecece;
$darkBlueBase: #6793C4;
$lightGreyBase: #383838;
$buttonsBlue: #344794;

$lightBorder: #d6d6d6;
$lightBlueBase: #344794;
$lightGrey: #dfdfdf;
$borderShade: #fafafa;
$tilesDropShadow: rgba(0, 0, 0, 0.25);

$headerLinkBorder: #A7A7A7;
$regionFlagBg: cadetblue;

$inputLightGrey: #f6f6f6;
$darkGreyText: #444444;
$inputLightGreyBase: #cfcfcf;
$searchBoxBorder: #cecece;

$promoBg: #001a7b;
$promoLinkBg: #001669;
$promoColor: #708aeb;

$mobileCloseBtn: #313e8d;
$mobileSideBar: rgba(0,26,123,0.95);
$mobileNavBorder: rgba(255,255,255,.2);
$mobileTopNavBorder: #dbdbdb;

$imageCircle: #d6d6d6;
$imageCircleShadow: #d4d4d4;

$heroBannerBlackBg: rgba(0,0,0,0.65);
$heroBannerLightBg: rgba(255,255,255,0.65);
$heroBannerBlueBg: rgba(52,71,148,0.4);

$listItemsLinks: #01177a;
$linkItemsBorder: #435190;

$footerColBorder: #5e5e67;
$flatIconBg: #6E6E6E;

$maxWidth: 1230px;
$maxWidthiPad: 960px;
$maxWidthiPadPortrait: 760px;

$surveyHolderBg: #dfe3e8;
$surveyHolderColor: #334795;
$surveyBoxShade: #929292;
$boxShade: 0 0 11px rgba(0, 0, 0, 0.40);
$pageShade: inset 0 30px 30px -10px #fafafa;

$nav-tabs-border-color: #dee2e6;
$tabActiveColor: #55595c;

$termsBg: #f0f0f0;

$multiColorShade1: #262e72;
$multiColorShade2: #446186;
$multiColorShade3: #c2cce3;

$imageCircle: #d6d6d6;
$imageCircleShadow: #d4d4d4;

$baseAnchorTitle: #3e53a7;
$baseAnchorActiveColor: #019bfb;
$baseSectionTitle: #001a7b;
$baseContentTitleBorder: #cacaca;
$baseContentTextColor: #333;
$baseContentBg: #f8f8f8;
$lightBlue: #3d509a;
$baseBoxShade: 0 0 11px rgba(0, 0, 0, 0.40);
$subNav: #183088;
$subNavBorder: #1251d4;

// Social Media
$socialBg: #27336f;
$socialColor: #fff;
$socialDropdown: #cacaca;
$facebookBg: #3b5998;
$linkedInBg: #0083be;
$twitterBg: #2aaae0;
$googleBg: #d73e2c;

//Search
$searchIcon: #3c3b40;
$searchBg: #eaeaea;
$searchText: #041e78;
$searchListBg: #262e72;
$searchSubmit: #1A9DF7;
$searchAutoCompleteList: #FBFBFB;
$searchAutoCompleteListBorder: #000;
$searchViewAll: #2C3F81;
$searchResultBorder: #ddd;
$searchResultBg: #EAF5FB;
$searchResultTabBorder: #c9d7e1;
$searchResultListItem: #041e78;
$searchResultListActiveItem: #354895;
$searchResultTabBg1: #b2b1b1;
$searchResultTabBg2: #bebdbd;
$searchResultTabBg3: #d2d3d4;
$searchResultTabBg4: #E0E0E0;
$searchResultTabBg5: #F3F2F2;
$searchDropdownLink: #344794;
$searchDropdownBorder: #c9d7e1;

//Subscription
$subscriptionBg: #FFF;
$subscriptionBgShadow: #e6e6e6;

$fontAwesomeFree: 'Font Awesome 5 Free';