.page {
    background: $whiteBase;
    margin: 0 auto;
}

.page-wrap {
    margin: 0 auto;
    min-height: 572px;
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
}

.container {
    max-width: $maxWidth;
}

.page-content {
    border-top: 1px solid $lightGrey;
    -webkit-box-shadow: $pageShade;
    -moz-box-shadow: $pageShade;
    -ms-box-shadow: $pageShade;
    -o-box-shadow: $pageShade;
    box-shadow: $pageShade;

    @media (max-width: 544px) {
        margin-top: 0;
    }
}

.scrollable-content {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid $lightShade;
    padding: 1rem;
}

.text-required {
    color: $redBase;
}

.mobile-only {
    display: none;

    @media (max-width: 980px) {
        display: block;
    }
}

.desktop-only {
    display: block;

    @media (max-width: 980px) {
        display: none;
    }
}

.no-print {
    @media print {
        display: none;
    }
}

.print-only {
    display: none;

    @media print {
        display: block;
    }
}

input.quantity {
    width: 40px;
}

.row-md-only {
    @include media-breakpoint-up(md) {
        margin: auto -15px;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.3rem 0;
    font-size: 1rem;
    line-height: 1.25;
    color: $darkGreyBase;
    background-color: $whiteBase;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 74px $whiteBase;
}

a {
    color: $lightBlueBase;
}

.main-page {
    margin-top: -23px;
    padding: 0;
    @media (max-width: 768px) {
        margin-top: 0;
    }

    .page-header {
        display: none;
    }
}

.tab-pane {
    padding-top: 10px;
}

.multi-color-line {
    height: 5px;
    border: 0;
    background: $multiColorShade1;
    background: -moz-linear-gradient(left, $multiColorShade1 0, $multiColorShade1 33%, $multiColorShade2 33%, $multiColorShade2 33%, $multiColorShade2 67%, $multiColorShade3 67%, $multiColorShade3 100%);
    background: -webkit-linear-gradient(left, $multiColorShade1 0, $multiColorShade1 33%, $multiColorShade2 33%, $multiColorShade2 33%, $multiColorShade2 67%, $multiColorShade3 67%, $multiColorShade3 100%);
    background: linear-gradient(to right, $multiColorShade1 0, $multiColorShade1 33%, $multiColorShade2 33%, $multiColorShade2 33%, $multiColorShade2 67%, $multiColorShade3 67%, $multiColorShade3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$multiColorShade1', endColorstr='$multiColorShade3', GradientType=1 );
}

.icon-pdf, .link-pdf {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 29px;
    margin-right: 10px;
}

.btn.export-excel, .btn.subscribe-update {
    line-height: 30px;
    padding: 0 10px 0 0;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    background-color: $buttonsBlue;
    border: none;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;

    &:hover {
        text-decoration: underline;
    }
}

.btn-flat-icons {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding-top: 5px;
    float: left;
    border-right: solid 1px $whiteBase;
    background-color: $flatIconBg;
    font-size: 20px;
    font-weight: normal;
}

.small-text p {
    color: $mediumGreyBase;
    font-size: 13px;
    padding: 0;
    line-height: 1.4;
}

iframe {
    margin-top: 10px;
    border: none;

    @media (min-width: 768px) {
        margin-top: 40px;
        height: 420px;
    }
}